.wrapper {
  width: 90%;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    @media screen and (max-width: 1250px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

