@import '../../common/styles/sass/variables';

.wrapper {
  width: 500px;
  background-color: $bgColor;
  margin-bottom: 30px;
  :hover{
    color: #cb0c12;
  }
  @media screen and (max-width: 600px) {
    width: 220px;
  }

  a {
    display: block;
    text-decoration: none;
    color: #000000;

    .container {
      display: flex;

      align-items: center;
      border-radius: 10px;
      @media screen and (max-width: 600px) {
        flex-direction: column
      }

      .characterPhoto {
        padding: 10px;

        img {
          display: block;
          height: 200px;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      .characterName {
        margin: auto;
        text-align: center;

        h3 {
          font-family: $fontFamily;
          font-size: 28px;
          @media screen and (max-width: 600px) {
            font-size: 18px;
          }
        }
      }
    }
  }
}
