@import '../../common/styles/sass/variables';

.container {
  width: 100%;
  min-height: 88vh;
  background-color: $bgSecondColor;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 600px) {
    padding-top: 135px;
  }
}
