@import '../../common/styles/sass/variables';

.header {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $bdColor;


  .container {
    display: flex;

    justify-content: center;
    align-items: center;

    margin: 10px;

    .title {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 25px;
      margin: 0 30px;
      text-align: center;
      @media screen and (max-width: 500px) {
        font-size: 20px;
        width: 110px;
      }

      h1 {
        margin: 0;
      }
    }
  }

  .loader {

    width: 100%;
    background-color: $bdColor;
  }
}



